<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pug & Sass Boilerplate
    link(rel="stylesheet" ,href="style.css")
    link(rel="icon", href="icon.ico")
  body
    h1 Pug & Sass Boilerplate