* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #efefef;
	display: grid;
	height: 100vh;
	place-items: center;
}

h1 {
	font-family: monospace;
	font-size: 5rem;
	color: #1d1d11;
}
